global
        log 127.0.0.1 local0 notice
        maxconn 2000
        stats socket /run/haproxy/admin.sock mode 777 level admin expose-fd listeners

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        timeout connect  5000
        timeout client  10000
        timeout server  10000

frontend http-in
        bind *:80
 
        # Define hosts
        # *.appcara-lb-demo.com -> IP
        <% $records.each do |record| %>
        acl host_<%= record['sub_domain'] %> hdr(host) -i <%= record['sub_domain'] %>.lbaas.work
        <% end %>
 
        ## figure out which one to use
        <% $records.each do |record| %>
        use_backend <%= record['sub_domain'] %>_cluster if host_<%= record['sub_domain'] %>
        <% end %>

<% $records.each do |record| %>
backend <%= record['sub_domain'] %>_cluster
        <% if record['persist_session_by'].to_s != '' %>
        stick-table type ip size 50k expire 10m
        stick on src        
        <% end %>
        balance <%= record['load_balancing_algorithm'] %>
        option httpclose
        option forwardfor
        cookie JSESSIONID prefix
        <% record['nodes'].split(',').each_with_index do |node, i| %>
        server node<%= i %> <%= node %> cookie A check
        <% end %>
<% end %>
